<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">School Power</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/all_teachers_classes">Show Teachers</a></li>
			<li class="nav-item"><a class="nav-link" href="/all_students_classes">Show Students</a></li>
			<li class="nav-item"><a class="nav-link" href="/create_class">Create Class</a></li>
			<li class="nav-item"><a class="nav-link" href="/create_teacher">Create Teacher</a></li>
			<li class="nav-item"><a class="nav-link" href="/enroll">Enroll</a></li>
		</ul>

  </div>
</nav>
