<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/all_teachers_classes">Show Teachers</a></li>
			<li><a href="/all_students_classes">Show Students</a></li>
			<li><a href="/create_class">Create Class</a></li>
			<li><a href="/create_teacher">Create Teacher</a></li>
			<li><a href="/enroll">Enroll</a></li>
		</ul>

	</div>
</nav>
