<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div>
			Login as
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/head_of_year_group_login">Head of Year Group</a></li>
			<li><a href="/student_login">Student</a></li>
			<li><a href="/teacher_login">Teacher</a></li>
		</ul>

	</div>
</nav>
