<meta charset="UTF-8">
<title>Mini Class App</title>

<!-- CSS -->
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
<style>
	body 	{ padding-top:50px; }
</style>
