<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">School Power</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="nav navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
		</ul>

  </div>
</nav>
