<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/student_header %>
	</header>

	<div>
    <form name="form1" method="POST" action="/search_student">
    <table>
        <tr>
        <td>Enter email: </td>
        <td><input type="text" name="email" ></td>
        </tr>
        <tr>
        <td><input type="submit" value="Search" ></td>
        </tr>
    </table>
    </form>
		<%if (locals.student) { %>
			<h1><%= `${student.first_name} ${student.last_name}`%></h1>
			<% for(let i = 0; i < student.classes.length; i++) { %>
				<div>
					<%= student.classes[i] %>
				</div>
			<% } %>
		<% } %>
	</div>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
